
.years-range {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap:50px;
    font-size: 200px;
    font-weight: bold;
}

.year-from {
    color: #5D5FEF;
}

.year-to {
    color: #EF5DA8;
}