.years-range {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
  font-size: 200px;
  font-weight: bold;
}

.year-from {
  color: #5d5fef;
}

.year-to {
  color: #ef5da8;
}
